.vscode/
output/
.ipynb_checkpoints/
codes/02_SDoH/chromedriver.exe
codes/geckodriver.log
codes/.ipynb_checkpoints/
.env
*.log

data/*
!data/locations*.csv

methodology/.Rhistory
DockerShinyApp/app/data/*

*.shp
*.shx
*.dbf
*.prj

*.png

.Rproj.user
