.vscode/
output/
.ipynb_checkpoints/
codes/02_SDoH/chromedriver.exe
codes/geckodriver.log
codes/.ipynb_checkpoints/
.env
*.log

data/*
!data/data_2_selected_variables.csv
!data/dictionary_1_manual.csv
!data/final_data.csv
!data/final_data_dictionary.csv
!data/DictionaryPostSPCA.csv
!data/final_distance.csv
!data/locations*.csv

methodology/.Rhistory

*.shp
*.shx
*.dbf
*.prj

.Rproj.user
