h1 {
  font-size: 32px;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans serif;
  margin: 20px 0px 10px
}

h2 {
  font-size: 28px;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans serif;
  margin: 20px 0px 10px
}

h3 {
  font-size: 24px;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans serif;
  margin: 20px 0px 10px
}

h4 {
  font-size: 18px;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans serif;
  margin: 20px 0px 10px
}

body {
  font-size: 14px;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans serif;
  margin: 20px 0px 10px
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #d8dce0;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

/* green border for selection box */
.selectize-input.full {
    background-color: #ffffff;
    border-color: #17A673;
}


.selectize-input {
    border: 1px solid #17A673;
    padding: 6px 12px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 4px;
}
.bttn-minimal.bttn-success {
    color: #046B5C;
}
.bttn-minimal.bttn-sm {
    padding: 4px 10px;
    font-size: 14px;
    font-family: inherit;
}

a {
    color: #0000EE;
    text-decoration: none;
}

/* remove dropdown arrows from all drop downs */
.selectize-control.single .selectize-input:after{
    visibility:hidden;
}

/* tabPanel color */
.tabbable > .nav > li > a {
    background-color: #17A673;
    color: #FFF;
}

/* selected tabPanel color */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #046B5C;
    color: #FFF;
}

/* pill button color */
.bttn-pill.bttn-success {
    background: #17A673;
}